.contador {
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    padding: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
    border-radius: 25px;
    margin-bottom: 15px;
    background-color: gray;
    color: brown;
}